<tr>
    <td class="{{lineClass}} {{type}}">
      {{{ lineNumber }}}
    </td>
    <td class="{{type}}">
        <div class="{{contentClass}} {{type}}">
        {{#if prefix}}
            <span class="d2h-code-line-prefix">{{{prefix}}}</span>
        {{/if}}
        {{#if content}}
            <span class="d2h-code-line-ctn">{{{content}}}</span>
        {{/if}}
        </div>
    </td>
</tr>